<div>
    <div>
        <select [(ngModel)]="environment" (change)="updateToken()" style="width: 300px">
            <option *ngFor="let e of environments" [ngValue]="e">{{e}}</option>
        </select>
    </div>
    <div>
        <input [(ngModel)]="tenantId" (change)="updateToken()" placeholder="Tenant Id" style="width: 300px">
    </div>
    <div>
        <input [(ngModel)]="clientId" (change)="updateToken()" placeholder="Client Id" style="width: 300px">
    </div>
    <div>
        <input type="password" [(ngModel)]="clientSecret" (change)="updateToken()" placeholder="Client Secret" style="width: 300px">
    </div>
    <div>
        <select [(ngModel)]="subscription" (change)="updateSubscription()" style="width: 300px">
            <option *ngFor="let s of subscriptions" [ngValue]="s.subscriptionId">{{s.subscriptionId}}</option>
        </select>
    </div>
    <div>
        <select [(ngModel)]="resourceGroup" (change)="updateResourceGroup()" style="width: 300px">
            <option *ngFor="let rg of resourceGroups" [ngValue]="rg.name">{{rg.name}} ({{rg.location}})</option>
        </select>
        <button (click)="createResourceGroup()"><span class='glyphicon glyphicon-chevron-left'></span></button>
        <input [(ngModel)]="newResourceGroup" placeholder="New Resource Group" style="width: 300px">
        <select [(ngModel)]="location" style="width: 300px">
            <option *ngFor="let l of locations" [ngValue]="l.name">{{l.displayName}}</option>
        </select>
    </div>
    <div>
        <select [(ngModel)]="storageAccount" (change)="updateStorageAccount()" style="width: 300px">
            <option *ngFor="let sa of storageAccounts" [ngValue]="sa.name">{{sa.name}}</option>
        </select>
        <button><span (click)="createStorageAccount()" class='glyphicon glyphicon-chevron-left'></span></button>
        <input [(ngModel)]="newStorageAccount" placeholder="New Storage Account" />
    </div>
    <div ngShow="storageAccount">
        <label>opsman-image</label><button (click)="createContainer('opsman-image')"><span class='glyphicon glyphicon-pencil'></span></button><br />
        <label>vhds</label><button (click)="createContainer('vhds')"><span class='glyphicon glyphicon-pencil'></span></button><br />
        <label>opsmanager</label><button (click)="createContainer('opsmanager')"><span class='glyphicon glyphicon-pencil'></span></button><br />
        <label>bosh</label><button (click)="createContainer('bosh')"><span class='glyphicon glyphicon-pencil'></span></button><br />
        <label>stemcell</label><button (click)="createContainer('stemcell')"><span class='glyphicon glyphicon-pencil'></span></button><br />
        <label>image.vhd</label><button (click)="copyBlob()"><span class='glyphicon glyphicon-chevron-left'></span></button><input [(ngModel)]="copyBlobFrom" placeholder="OpsManager Image Source URI" style="width: 300px"/><br />
    </div>
    <div>
        <label>stemcells</label><button (click)="createTable()"><span class='glyphicon glyphicon-pencil'></span></button>
    </div>
    <div>
        <input [(ngModel)]="adminSshKey" type="text" placeholder="Admin SSH Key" />
        <button (click)="createDeployment()"><span>Deploy!</span></button>
    </div>
</div>
